<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title" translate>AboutUs</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body centered">
    <h2>Gravity Now!</h2>
    <p translate>About1</p>
    <a rel="noreferrer" href="https://2014.spaceappschallenge.org/awards/#globalawards" target="_blank">
        <img id="spaceLogo" src="./assets/img/space_apps.png">
    </a>
    <br>
    <a rel="noreferrer" href="https://supernovaic.tk" target="_blank">
        <img id="supernovaLogo" src="./assets/img/supernova-logo.png">
    </a>
    <p translate>About2</p>
    <div class="row">
        <div class="col">
            <a rel="noreferrer" href="https://play.google.com/store/apps/details?id=tk.supernova.gnow" target="_blank">
                <img class="logo" src="./assets/img/android.png">
            </a>
        </div>
        <div class="col">
            <a rel="noreferrer" href="https://www.microsoft.com/en-us/p/gravity-now/9nblgggzjlp5" target="_blank">
                <img class="logoWindows" src="./assets/img/windows.png">
            </a>
        </div>
    </div>
</div>