<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title" translate>Comparison</h4>
    <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="comparisonForm">
        <div class="mb-3">
            <div class="row">
                <div class="col-8">
                    <label for="txtWeight" translate>YourWeight</label>
                    <input min="1" type="number" class="form-control" placeholder="Weight" formControlName="weight">
                </div>
                <div class="col-4">
                    <label for="cmbUnitsWeight" translate>Units</label>
                    <select class="form-select" formControlName="selectedWUnits">
                        @for (option of wUnits; track option.value) {
                            <option [value]="option.value">{{option.name}}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="cmbGUnits" translate>GUnits</label>
            <select class="form-select" formControlName="selectedGUnits">
                @for (option of gUnits; track option.value) {
                    <option [value]="option.value">{{option.name}}</option>
                }
            </select>
        </div>
        <div class="row">
            <div class="col">
                <label for="cmbFirstCelestialObject" translate>FirstCelestial</label>
                <select class="form-select" formControlName="selectedValueCO1">
                    @for (option of celestialObjects; track option.value) {
                        <option [value]="option.value">{{option.name}}</option>
                    }
                </select>
                <div class="centered">
                    <img class="imgCelestialObject" [src]="celestialImgFirst">
                    <p class="caption">{{celestialStrFirstGravity}}</p>
                </div>
            </div>
            <div class="col">
                <label for="cmbSecondCelestialObject" translate>SecondCelestial</label>
                <select class="form-select" formControlName="selectedValueCO2">
                    @for (option of celestialObjects; track option.value) {
                        <option [value]="option.value">{{option.name}}</option>
                    }
                </select>
                <div class="centered">
                    <img class="imgCelestialObject" [src]="celestialImgSecond">
                    <p class="caption">{{celestialStrSecondGravity}}</p>
                </div>
            </div>
        </div>
        <div class="mb-3 centered">
            <p [className]="messageGComparisonStyle">{{gResult}}</p>
            <p [className]="messageComparisonStyle">{{wResult}}</p>
        </div>
    </form>
</div>
