<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title" translate>Comparison</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="comparisonForm">
        <div class="form-group">
            <div class="row">
                <div class="col-8">
                    <label for="txtWeight" translate>YourWeight</label>
                    <input min="1" type="number" class="form-control" placeholder="Weight" formControlName="weight">
                </div>
                <div class="col-4">
                    <label for="cmbUnitsWeight" translate>Units</label>
                    <select class="form-control" formControlName="selectedWUnits">
                        <option *ngFor="let option of wUnits" [value]="option.value">{{option.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="cmbGUnits" translate>GUnits</label>
            <select class="form-control" formControlName="selectedGUnits">
                <option *ngFor="let option of gUnits" [value]="option.value">{{option.name}}</option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <label for="cmbFirstCelestialObject" translate>FirstCelestial</label>
                <select class="form-control" formControlName="selectedValueCO1">
                    <option *ngFor="let option of celestialObjects" [value]="option.value">{{option.name}}</option>
                </select>
                <div class="centered">
                    <img class="imgCelestialObject" [src]="celestialImgFirst">
                    <p class="caption">{{celestialStrFirstGravity}}</p>
                </div>
            </div>
            <div class="col">
                <label for="cmbSecondCelestialObject" translate>SecondCelestial</label>
                <select class="form-control" formControlName="selectedValueCO2">
                    <option *ngFor="let option of celestialObjects" [value]="option.value">{{option.name}}</option>
                </select>
                <div class="centered">
                    <img class="imgCelestialObject" [src]="celestialImgSecond">
                    <p class="caption">{{celestialStrSecondGravity}}</p>
                </div>
            </div>
        </div>
        <div class="form-group" class="centered">
            <p [className]="messageGComparisonStyle">{{gResult}}</p>
            <p [className]="messageComparisonStyle">{{wResult}}</p>
        </div>
    </form>
</div>