.centered {
    text-align: center;
}

#spaceLogo {
    max-width: 128px;
}

#supernovaLogo {
    max-width: 300px;
}

.logo {
    max-width: 96px;
}

.logoWindows {
    max-width: 70px;
    margin: 13px;
}

.caption {
    font-size: small
}

.horizontalMax {
    max-width: 100%;
}