<div class="mapbox" [style.--footer-offset.px]="footerHeight">
    <div id="map" [style.height.px]="mapHeight" class="row-fluid some"></div>
    @if (isMapLoading) {
        <div class="map-loading-overlay">
            <div class="map-loading-spinner"></div>
            <div class="map-loading-text">Loading map...</div>
        </div>
    }
    <div class="topCircle row-fluid overlay text-white-50">
        <div id="divGContainer">
            <label id="lblGravity">{{gravityResult}}</label>
            <label id="lblGUnit"></label>
        </div>
    </div>
</div>
