<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Calculator</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="calcForm">
        <div class="form-group">
            <label for="txtLatitude">Latitude:</label>
            <input type="number" class="form-control" placeholder="Enter latitude" min="-90" max="90" formControlName="latitude">
        </div>
        <div class="form-group">
            <label for="txtAltitude">Altitude:</label>
            <input type="number" class="form-control" placeholder="Enter altitude" formControlName="altitude">
        </div>
        <div class="form-group">
            <label for="cmbUnits">Units:</label>
            <select class="form-control" formControlName="gUnits">
                <option *ngFor="let option of gUnits" [value]="option.value">{{option.name}}</option>
            </select>
        </div>
        <div class="form-group" class="centered">
            <p [className]="messageStyle">{{gResult}}</p>
        </div>
    </form>
</div>